Требования к курсовому проекту:
	1_Составить общее текстовое описание БД и решаемых ею задач; минимальное количество таблиц - 10;
	2_скрипты создания структуры БД (с первичными ключами, индексами, внешними ключами);
	3_создать ERDiagram для БД;
	4_скрипты наполнения БД данными;
	5_скрипты характерных выборок (включающие группировки, JOIN'ы, вложенные таблицы);
	6_представления (минимум 2);
	7_хранимые процедуры / триггеры;

Примеры: описать модель хранения данных популярного веб-сайта: кинопоиск, booking.com, wikipedia, интернет-магазин, geekbrains, госуслуги...
Думайте об этом задании, как о том, чем Вы похвастаетесь на своем следующем собеседовании.
Удачи!
