USE [GV_DATA]
GO
/****** Object:  Table [dbo].[GB_LITHOLOGY]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GB_LITHOLOGY](
	[PROJECT] [nvarchar](16) NOT NULL,
	[SITE_ID] [nvarchar](40) NOT NULL,
	[INTERVAL_SEQ] [int] NOT NULL,
	[PARENT_INTERVAL] [int] NULL,
	[DEPTH_FROM] [decimal](8, 3) NULL,
	[DEPTH_TO] [decimal](8, 3) NULL,
	[INTERVAL_TYPE] [nvarchar](8) NULL,
	[OVERLAY] [nvarchar](8) NULL,
	[LITH] [nvarchar](8) NULL,
	[LITH_PCT] [int] NULL,
	[COLOUR] [nvarchar](8) NULL,
	[STRUCTURE] [nvarchar](8) NULL,
	[TEXTURE] [nvarchar](8) NULL,
	[_5] [nvarchar](8) NULL,
	[_5_] [nvarchar](8) NULL,
	[_5__] [nvarchar](8) NULL,
	[5_15] [nvarchar](8) NULL,
	[5_15_] [nvarchar](8) NULL,
	[15_30] [nvarchar](8) NULL,
	[15_30_] [nvarchar](8) NULL,
	[30_50] [nvarchar](8) NULL,
	[30_50_] [nvarchar](8) NULL,
	[50_70] [nvarchar](8) NULL,
	[70_85] [nvarchar](8) NULL,
	[85_95] [nvarchar](8) NULL,
	[95_] [nvarchar](8) NULL,
	[CONTACT_TYPE] [nvarchar](8) NULL,
	[CONTACT_ANGLE] [int] NULL,
	[COMMENT] [nvarchar](500) NULL,
	[DATA_SOURCE] [nvarchar](200) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
	[VALIDATION_GROUP] [nvarchar](100) NULL,
	[IGNORE_DURING_VALIDATION] [bit] NULL,
 CONSTRAINT [GB_LITHOLOGY_PK] PRIMARY KEY CLUSTERED 
(
	[PROJECT] ASC,
	[SITE_ID] ASC,
	[INTERVAL_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GB_PROJECT]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GB_PROJECT](
	[PROJECT] [nvarchar](16) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[PARENT] [nvarchar](16) NULL,
	[COORDSYS] [nvarchar](16) NULL,
	[DATA_SOURCE] [nvarchar](200) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
	[VALIDATION_GROUP] [nvarchar](100) NULL,
	[IGNORE_DURING_VALIDATION] [bit] NULL,
 CONSTRAINT [GB_PROJECT_PK] PRIMARY KEY CLUSTERED 
(
	[PROJECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GB_SAMPLE]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GB_SAMPLE](
	[PROJECT] [nvarchar](16) NOT NULL,
	[SITE_ID] [nvarchar](40) NOT NULL,
	[SAMPLE_ID] [nvarchar](30) NOT NULL,
	[DEPTH_FROM] [decimal](8, 3) NOT NULL,
	[DEPTH_TO] [decimal](8, 3) NOT NULL,
	[QC_TYPE] [nvarchar](8) NOT NULL,
	[EXCLUDE] [bit] NULL,
	[PREFERRED] [bit] NULL,
	[SAMPLE_TYPE] [nvarchar](16) NULL,
	[SAMPLE_METHOD] [nvarchar](8) NOT NULL,
	[PARENT_SAMPLE_ID] [nvarchar](30) NULL,
	[STANDARD_ID] [nvarchar](30) NULL,
	[FIELD_PREP] [nvarchar](8) NOT NULL,
	[MASS] [float] NULL,
	[SAMPLER] [nvarchar](32) NULL,
	[DATE_SAMPLED] [smalldatetime] NULL,
	[HISTORIC_SAMPLE_ID] [nvarchar](30) NULL,
	[SHIKHTA] [nvarchar](16) NULL,
	[INTERNAL_CONTROL] [bit] NULL,
	[EXTERNAL_CONTROL] [bit] NULL,
	[DATA_SOURCE] [nvarchar](200) NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
	[VALIDATION_GROUP] [nvarchar](100) NULL,
	[IGNORE_DURING_VALIDATION] [bit] NULL,
 CONSTRAINT [PK_GB_SAMPLE] PRIMARY KEY CLUSTERED 
(
	[PROJECT] ASC,
	[SITE_ID] ASC,
	[SAMPLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GB_SITE]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GB_SITE](
	[PROJECT] [nvarchar](16) NOT NULL,
	[SITE_ID] [nvarchar](40) NOT NULL,
	[EBLOK] [nvarchar](30) NULL,
	[HORIZONT] [nvarchar](16) NULL,
	[SITE_TYPE] [nvarchar](3) NULL,
	[TRENCH_TYPE] [nvarchar](8) NULL,
	[START_DEPTH] [decimal](8, 3) NULL,
	[DATE_STARTED] [smalldatetime] NULL,
	[DATE_COMPLETED] [smalldatetime] NULL,
	[SITE_PURPOSE] [nvarchar](16) NULL,
	[SITE_STAGE] [nvarchar](16) NULL,
	[SITE_DIAM] [nvarchar](16) NULL,
	[PRECOLLAR_DEPTH] [decimal](8, 3) NULL,
	[END_DEPTH] [decimal](8, 3) NULL,
	[BUR_DEPTH] [decimal](8, 3) NULL,
	[KZ_DEPTH] [decimal](8, 3) NULL,
	[GIS_DEPTH] [decimal](8, 3) NULL,
	[AZIMUTH_P] [decimal](8, 3) NULL,
	[DIP_P] [decimal](8, 3) NULL,
	[AZIMUTH] [decimal](8, 3) NULL,
	[DIP] [decimal](8, 3) NULL,
	[AREA] [nvarchar](32) NULL,
	[ZONE] [nvarchar](16) NULL,
	[DRILL_LINE] [nvarchar](16) NULL,
	[SHTOLNYA] [nvarchar](16) NULL,
	[VEIN1] [nvarchar](24) NULL,
	[VEIN2] [nvarchar](24) NULL,
	[VEIN3] [nvarchar](24) NULL,
	[COMMENTS] [nvarchar](250) NULL,
	[GTN_CORE_PERC_RZ] [decimal](8, 3) NULL,
	[GTN_CORE_PERC_VM] [decimal](8, 3) NULL,
	[GTN_GEOLOGIST] [nvarchar](32) NULL,
	[GTN_BURMASTER] [nvarchar](32) NULL,
	[PROFIL] [nvarchar](32) NULL,
	[PIKET] [nvarchar](32) NULL,
	[OREBODY] [nvarchar](32) NULL,
	[BUR_CAMERA] [nvarchar](16) NULL,
	[GEOLOGIST] [nvarchar](32) NULL,
	[SURVEYOR] [nvarchar](32) NULL,
	[BURMASTER] [nvarchar](32) NULL,
	[IS_SAMPLED] [bit] NULL,
	[DATA_SOURCE] [nvarchar](250) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
	[VALIDATION_GROUP] [nvarchar](100) NULL,
	[IGNORE_DURING_VALIDATION] [bit] NULL,
	[DOC_STARTED] [smalldatetime] NULL,
	[DOC_COMPLETED] [smalldatetime] NULL,
 CONSTRAINT [GB_SITE_PK] PRIMARY KEY CLUSTERED 
(
	[PROJECT] ASC,
	[SITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GB_SITE_SURVEY]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GB_SITE_SURVEY](
	[PROJECT] [nvarchar](16) NOT NULL,
	[SITE_ID] [nvarchar](40) NOT NULL,
	[INSTANCE] [smallint] NOT NULL,
	[RANKING] [smallint] NOT NULL,
	[EXCLUDE] [bit] NULL,
	[PREFERRED] [bit] NULL,
	[SURVEY_TYPE] [nvarchar](16) NULL,
	[SURVEY_METHOD] [nvarchar](16) NULL,
	[DATE_SURVEYED] [smalldatetime] NULL,
	[COORDSYS] [nvarchar](16) NULL,
	[EASTING] [float] NULL,
	[NORTHING] [float] NULL,
	[HEIGHT] [float] NULL,
	[COMPANY] [nvarchar](8) NULL,
	[RELIABILITY] [nvarchar](8) NULL,
	[EQUIPMENT] [nvarchar](8) NULL,
	[CONVERT_LOG] [nvarchar](4000) NULL,
	[DATA_SOURCE] [nvarchar](200) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
	[VALIDATION_GROUP] [nvarchar](100) NULL,
	[IGNORE_DURING_VALIDATION] [bit] NULL,
 CONSTRAINT [GB_SITE_SURVEY_PK] PRIMARY KEY CLUSTERED 
(
	[PROJECT] ASC,
	[SITE_ID] ASC,
	[INSTANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GB_SYS_LKP_CATEGORY]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GB_SYS_LKP_CATEGORY](
	[CATEGORY] [nvarchar](16) NOT NULL,
	[DESCRIPTION] [nvarchar](64) NOT NULL,
 CONSTRAINT [GB_SYS_LKP_CATEGORY_PK] PRIMARY KEY CLUSTERED 
(
	[CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GB_SYS_LKP_CODE]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GB_SYS_LKP_CODE](
	[CATEGORY] [nvarchar](16) NOT NULL,
	[CODE] [nvarchar](8) NOT NULL,
	[DESCRIPTION] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_GB_SYS_LKP_CODE] PRIMARY KEY CLUSTERED 
(
	[CATEGORY] ASC,
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_DESPATCH]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_DESPATCH](
	[DESPATCH_ID] [nvarchar](16) NOT NULL,
	[PARENT_DESPATCH_ID] [nvarchar](16) NULL,
	[DESCRIPTION] [nvarchar](80) NULL,
	[LAB_ID] [nvarchar](20) NOT NULL,
	[MULTI_LAB] [nvarchar](1) NOT NULL,
	[STATUS] [nvarchar](8) NOT NULL,
	[SEND_DATE] [smalldatetime] NOT NULL,
	[DELIVERY_METHOD] [nvarchar](8) NULL,
	[PERSON] [nvarchar](32) NULL,
	[CONSIGNMENT_NOTE] [nvarchar](32) NULL,
	[REMARKS] [nvarchar](1000) NULL,
	[DATA_SOURCE] [nvarchar](200) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
 CONSTRAINT [ST_DESPATCH_PK] PRIMARY KEY CLUSTERED 
(
	[DESPATCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_DESPATCH_DETAIL]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_DESPATCH_DETAIL](
	[DESPATCH_ID] [nvarchar](16) NOT NULL,
	[LAB_METHOD] [nvarchar](32) NOT NULL,
	[ELEMENT] [nvarchar](8) NOT NULL,
	[UNITS] [nvarchar](20) NOT NULL,
	[UPPER_LIMIT] [float] NULL,
	[DETECTION_LIMIT] [float] NULL,
	[ANALYSIS_PRECISION] [smallint] NOT NULL,
	[SUBST_LAB_ID] [nvarchar](20) NULL,
	[DATA_SOURCE] [nvarchar](200) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
 CONSTRAINT [ST_DESPATCH_DETAIL_PK] PRIMARY KEY CLUSTERED 
(
	[DESPATCH_ID] ASC,
	[LAB_METHOD] ASC,
	[ELEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_DESPATCH_SAMPLE]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_DESPATCH_SAMPLE](
	[DESPATCH_ID] [nvarchar](16) NOT NULL,
	[SAMPLE_TAG] [nvarchar](30) NOT NULL,
	[PROJECT] [nvarchar](16) NOT NULL,
	[SITE_ID] [nvarchar](40) NOT NULL,
	[SAMPLE_ID] [nvarchar](30) NOT NULL,
	[FIELD_SAMPLE_ID] [nvarchar](30) NULL,
	[FRACTION] [nvarchar](8) NULL,
	[QC_TYPE] [nvarchar](8) NOT NULL,
	[QC_SOURCE] [nvarchar](1) NULL,
	[COMMENTS] [nvarchar](100) NULL,
	[DATA_SOURCE] [nvarchar](200) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
	[TIME_SEQ] [smallint] NULL,
 CONSTRAINT [ST_DESPATCH_SAMPLE_PK] PRIMARY KEY CLUSTERED 
(
	[DESPATCH_ID] ASC,
	[SAMPLE_TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_RECEIPT]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_RECEIPT](
	[DESPATCH_ID] [nvarchar](16) NOT NULL,
	[LAB_JOB_NO] [nvarchar](16) NOT NULL,
	[RECEIPT_DATE] [smalldatetime] NOT NULL,
	[LAB_DATE] [smalldatetime] NULL,
	[DELIVERY_METHOD] [nvarchar](8) NULL,
	[INPUT_FILE] [nvarchar](255) NULL,
	[PERSON] [nvarchar](32) NULL,
	[INVOICE_NUMBER] [nvarchar](16) NULL,
	[INVOICE_AMOUNT] [float] NULL,
	[CURRENCY_UNIT] [nvarchar](8) NULL,
	[COST_CODE] [nvarchar](16) NULL,
	[REMARKS] [nvarchar](max) NULL,
	[DATA_SOURCE] [nvarchar](200) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
	[RECEIPT_STATUS] [nvarchar](8) NULL,
 CONSTRAINT [ST_RECEIPT_PK] PRIMARY KEY CLUSTERED 
(
	[DESPATCH_ID] ASC,
	[LAB_JOB_NO] ASC,
	[RECEIPT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ST_RESULT]    Script Date: 10.10.2019 15:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ST_RESULT](
	[DESPATCH_ID] [nvarchar](16) NOT NULL,
	[LAB_JOB_NO] [nvarchar](16) NOT NULL,
	[SAMPLE_TAG] [nvarchar](30) NOT NULL,
	[LAB_METHOD] [nvarchar](32) NOT NULL,
	[GENERIC_METHOD] [nvarchar](32) NULL,
	[LAB_ELEMENT] [nvarchar](8) NOT NULL,
	[EXCLUDE] [bit] NULL,
	[TEXT_RULE] [nvarchar](4) NOT NULL,
	[LAB_RESULT_TEXT] [nvarchar](16) NULL,
	[LAB_RESULT_NUMERIC] [float] NULL,
	[LAB_UNITS] [nvarchar](20) NOT NULL,
	[RESULT] [float] NULL,
	[RECIEVED_MASS] [float] NULL,
	[DATA_SOURCE] [nvarchar](200) NULL,
	[DATE_INSERTED] [smalldatetime] NULL,
	[INSERTED_BY] [nvarchar](100) NULL,
	[DATE_UPDATED] [smalldatetime] NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
	[TAG_QLF1] [nvarchar](30) NOT NULL,
 CONSTRAINT [ST_RESULT_PK] PRIMARY KEY CLUSTERED 
(
	[DESPATCH_ID] ASC,
	[LAB_JOB_NO] ASC,
	[SAMPLE_TAG] ASC,
	[LAB_METHOD] ASC,
	[LAB_ELEMENT] ASC,
	[TAG_QLF1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GB_LITHOLOGY] ADD  CONSTRAINT [DF_GB_LITHOLOGY_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
ALTER TABLE [dbo].[GB_LITHOLOGY] ADD  CONSTRAINT [DF_GB_LITHOLOGY_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
ALTER TABLE [dbo].[GB_LITHOLOGY] ADD  CONSTRAINT [DF_GB_LITHOLOGY_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
ALTER TABLE [dbo].[GB_LITHOLOGY] ADD  CONSTRAINT [DF_GB_LITHOLOGY_VALIDATION_GROUP]  DEFAULT ('DEFAULT') FOR [VALIDATION_GROUP]
GO
ALTER TABLE [dbo].[GB_LITHOLOGY] ADD  CONSTRAINT [DF_GB_LITHOLOGY_IGNORE_DURING_VALIDATION]  DEFAULT ((0)) FOR [IGNORE_DURING_VALIDATION]
GO
ALTER TABLE [dbo].[GB_PROJECT] ADD  CONSTRAINT [DF_GB_PROJECT_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
ALTER TABLE [dbo].[GB_PROJECT] ADD  CONSTRAINT [DF_GB_PROJECT_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
ALTER TABLE [dbo].[GB_PROJECT] ADD  CONSTRAINT [DF_GB_PROJECT_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
ALTER TABLE [dbo].[GB_PROJECT] ADD  CONSTRAINT [DF_GB_PROJECT_VALIDATION_GROUP]  DEFAULT ('DEFAULT') FOR [VALIDATION_GROUP]
GO
ALTER TABLE [dbo].[GB_PROJECT] ADD  CONSTRAINT [DF_GB_PROJECT_IGNORE_DURING_VALIDATION]  DEFAULT ((0)) FOR [IGNORE_DURING_VALIDATION]
GO
ALTER TABLE [dbo].[GB_SAMPLE] ADD  CONSTRAINT [DF_GB_SAMPLE_QC_TYPE]  DEFAULT ('ROUTINE') FOR [QC_TYPE]
GO
ALTER TABLE [dbo].[GB_SAMPLE] ADD  CONSTRAINT [DF_GB_SAMPLE_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
ALTER TABLE [dbo].[GB_SAMPLE] ADD  CONSTRAINT [DF_GB_SAMPLE_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
ALTER TABLE [dbo].[GB_SAMPLE] ADD  CONSTRAINT [DF_GB_SAMPLE_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
ALTER TABLE [dbo].[GB_SAMPLE] ADD  CONSTRAINT [DF_GB_SAMPLE_VALIDATION_GROUP]  DEFAULT ('DEFAULT') FOR [VALIDATION_GROUP]
GO
ALTER TABLE [dbo].[GB_SAMPLE] ADD  CONSTRAINT [DF_GB_SAMPLE_IGNORE_DURING_VALIDATION]  DEFAULT ((0)) FOR [IGNORE_DURING_VALIDATION]
GO
ALTER TABLE [dbo].[GB_SITE] ADD  CONSTRAINT [DF_GB_SITE_START_DEPTH]  DEFAULT ((0)) FOR [START_DEPTH]
GO
ALTER TABLE [dbo].[GB_SITE] ADD  CONSTRAINT [DF_GB_SITE_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
ALTER TABLE [dbo].[GB_SITE] ADD  CONSTRAINT [DF_GB_SITE_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
ALTER TABLE [dbo].[GB_SITE] ADD  CONSTRAINT [DF_GB_SITE_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
ALTER TABLE [dbo].[GB_SITE] ADD  CONSTRAINT [DF_GB_SITE_VALIDATION_GROUP]  DEFAULT ('DEFAULT') FOR [VALIDATION_GROUP]
GO
ALTER TABLE [dbo].[GB_SITE] ADD  CONSTRAINT [DF_GB_SITE_IGNORE_DURING_VALIDATION]  DEFAULT ((0)) FOR [IGNORE_DURING_VALIDATION]
GO
ALTER TABLE [dbo].[GB_SITE_SURVEY] ADD  CONSTRAINT [GB_SITE_SURVEY_RANKING_DFLT]  DEFAULT ((1)) FOR [RANKING]
GO
ALTER TABLE [dbo].[GB_SITE_SURVEY] ADD  CONSTRAINT [DF_GB_SITE_SURVEY_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
ALTER TABLE [dbo].[GB_SITE_SURVEY] ADD  CONSTRAINT [DF_GB_SITE_SURVEY_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
ALTER TABLE [dbo].[GB_SITE_SURVEY] ADD  CONSTRAINT [DF_GB_SITE_SURVEY_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
ALTER TABLE [dbo].[GB_SITE_SURVEY] ADD  CONSTRAINT [DF_GB_SITE_SURVEY_VALIDATION_GROUP]  DEFAULT ('DEFAULT') FOR [VALIDATION_GROUP]
GO
ALTER TABLE [dbo].[GB_SITE_SURVEY] ADD  CONSTRAINT [DF_GB_SITE_SURVEY_IGNORE_DURING_VALIDATION]  DEFAULT ((0)) FOR [IGNORE_DURING_VALIDATION]
GO
ALTER TABLE [dbo].[ST_DESPATCH] ADD  CONSTRAINT [DF_ST_DESPATCH_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
ALTER TABLE [dbo].[ST_DESPATCH] ADD  CONSTRAINT [DF_ST_DESPATCH_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
ALTER TABLE [dbo].[ST_DESPATCH] ADD  CONSTRAINT [DF_ST_DESPATCH_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
ALTER TABLE [dbo].[ST_DESPATCH_DETAIL] ADD  CONSTRAINT [DF_ST_DESPATCH_DETAIL_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
ALTER TABLE [dbo].[ST_DESPATCH_DETAIL] ADD  CONSTRAINT [DF_ST_DESPATCH_DETAIL_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
ALTER TABLE [dbo].[ST_DESPATCH_DETAIL] ADD  CONSTRAINT [DF_ST_DESPATCH_DETAIL_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
ALTER TABLE [dbo].[ST_DESPATCH_SAMPLE] ADD  CONSTRAINT [ST_DESPATCH_SAMPLE_FRACTION_DFLT]  DEFAULT ('X') FOR [FRACTION]
GO
ALTER TABLE [dbo].[ST_DESPATCH_SAMPLE] ADD  CONSTRAINT [ST_DESPATCH_SAMPLE_QC_SOURCE_DFLT]  DEFAULT ('F') FOR [QC_SOURCE]
GO
ALTER TABLE [dbo].[ST_DESPATCH_SAMPLE] ADD  CONSTRAINT [DF_ST_DESPATCH_SAMPLE_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
ALTER TABLE [dbo].[ST_DESPATCH_SAMPLE] ADD  CONSTRAINT [DF_ST_DESPATCH_SAMPLE_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
ALTER TABLE [dbo].[ST_DESPATCH_SAMPLE] ADD  CONSTRAINT [DF_ST_DESPATCH_SAMPLE_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
ALTER TABLE [dbo].[ST_DESPATCH_SAMPLE] ADD  DEFAULT ((0)) FOR [TIME_SEQ]
GO
ALTER TABLE [dbo].[ST_RECEIPT] ADD  CONSTRAINT [DF_ST_RECEIPT_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
ALTER TABLE [dbo].[ST_RECEIPT] ADD  CONSTRAINT [DF_ST_RECEIPT_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
ALTER TABLE [dbo].[ST_RECEIPT] ADD  CONSTRAINT [DF_ST_RECEIPT_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
ALTER TABLE [dbo].[ST_RESULT] ADD  CONSTRAINT [DF_ST_RESULT_EXCLUDE]  DEFAULT ((0)) FOR [EXCLUDE]
GO
ALTER TABLE [dbo].[ST_RESULT] ADD  CONSTRAINT [DF_ST_RESULT_DATA_SOURCE]  DEFAULT ('User') FOR [DATA_SOURCE]
GO
ALTER TABLE [dbo].[ST_RESULT] ADD  CONSTRAINT [DF_ST_RESULT_DATE_INSERTED]  DEFAULT (getdate()) FOR [DATE_INSERTED]
GO
ALTER TABLE [dbo].[ST_RESULT] ADD  CONSTRAINT [DF_ST_RESULT_INSERTED_BY]  DEFAULT (suser_sname()) FOR [INSERTED_BY]
GO
ALTER TABLE [dbo].[ST_RESULT] ADD  CONSTRAINT [ST_RESULT_DEFAULT_TAG_QLF11]  DEFAULT (N'FULL') FOR [TAG_QLF1]
GO
ALTER TABLE [dbo].[GB_LITHOLOGY]  WITH NOCHECK ADD  CONSTRAINT [GB_LITHOLOGY_FK1] FOREIGN KEY([PROJECT], [SITE_ID])
REFERENCES [dbo].[GB_SITE] ([PROJECT], [SITE_ID])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GB_LITHOLOGY] CHECK CONSTRAINT [GB_LITHOLOGY_FK1]
GO
ALTER TABLE [dbo].[GB_PROJECT]  WITH NOCHECK ADD  CONSTRAINT [GB_PROJECT_FK1] FOREIGN KEY([COORDSYS])
REFERENCES [dbo].[GB_COORD_SYSTEM] ([COORDSYS])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GB_PROJECT] CHECK CONSTRAINT [GB_PROJECT_FK1]
GO
ALTER TABLE [dbo].[GB_SAMPLE]  WITH NOCHECK ADD  CONSTRAINT [FK_GB_SAMPLE_SITE] FOREIGN KEY([PROJECT], [SITE_ID])
REFERENCES [dbo].[GB_SITE] ([PROJECT], [SITE_ID])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GB_SAMPLE] CHECK CONSTRAINT [FK_GB_SAMPLE_SITE]
GO
ALTER TABLE [dbo].[GB_SITE]  WITH NOCHECK ADD  CONSTRAINT [GB_SITE_FK] FOREIGN KEY([PROJECT])
REFERENCES [dbo].[GB_PROJECT] ([PROJECT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GB_SITE] CHECK CONSTRAINT [GB_SITE_FK]
GO
ALTER TABLE [dbo].[GB_SITE_SURVEY]  WITH NOCHECK ADD  CONSTRAINT [GB_SITE_SURVEY_FK1] FOREIGN KEY([COORDSYS])
REFERENCES [dbo].[GB_COORD_SYSTEM] ([COORDSYS])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GB_SITE_SURVEY] CHECK CONSTRAINT [GB_SITE_SURVEY_FK1]
GO
ALTER TABLE [dbo].[GB_SITE_SURVEY]  WITH NOCHECK ADD  CONSTRAINT [GB_SITE_SURVEY_FK2] FOREIGN KEY([PROJECT], [SITE_ID])
REFERENCES [dbo].[GB_SITE] ([PROJECT], [SITE_ID])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GB_SITE_SURVEY] CHECK CONSTRAINT [GB_SITE_SURVEY_FK2]
GO
ALTER TABLE [dbo].[GB_SYS_LKP_CODE]  WITH NOCHECK ADD  CONSTRAINT [FK_GB_SYS_LKP_CODE_GB_SYS_LKP_CATEGORY] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[GB_SYS_LKP_CATEGORY] ([CATEGORY])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GB_SYS_LKP_CODE] CHECK CONSTRAINT [FK_GB_SYS_LKP_CODE_GB_SYS_LKP_CATEGORY]
GO
ALTER TABLE [dbo].[ST_DESPATCH_DETAIL]  WITH NOCHECK ADD  CONSTRAINT [ST_DESPATCH_DETAIL_FK1] FOREIGN KEY([DESPATCH_ID])
REFERENCES [dbo].[ST_DESPATCH] ([DESPATCH_ID])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[ST_DESPATCH_DETAIL] CHECK CONSTRAINT [ST_DESPATCH_DETAIL_FK1]
GO
ALTER TABLE [dbo].[ST_DESPATCH_SAMPLE]  WITH NOCHECK ADD  CONSTRAINT [ST_DESPATCH_SAMPLE_FK1] FOREIGN KEY([DESPATCH_ID])
REFERENCES [dbo].[ST_DESPATCH] ([DESPATCH_ID])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[ST_DESPATCH_SAMPLE] CHECK CONSTRAINT [ST_DESPATCH_SAMPLE_FK1]
GO
ALTER TABLE [dbo].[ST_RECEIPT]  WITH NOCHECK ADD  CONSTRAINT [ST_RECEIPT_FK1] FOREIGN KEY([DESPATCH_ID])
REFERENCES [dbo].[ST_DESPATCH] ([DESPATCH_ID])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[ST_RECEIPT] CHECK CONSTRAINT [ST_RECEIPT_FK1]
GO
ALTER TABLE [dbo].[ST_RESULT]  WITH NOCHECK ADD  CONSTRAINT [ST_RESULT_FK1] FOREIGN KEY([DESPATCH_ID], [SAMPLE_TAG])
REFERENCES [dbo].[ST_DESPATCH_SAMPLE] ([DESPATCH_ID], [SAMPLE_TAG])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[ST_RESULT] CHECK CONSTRAINT [ST_RESULT_FK1]
GO
